 .signup-container{
background-color: #a4c03e;
height: 60vh;
display: flex;

 }



.signup-form {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #d42020;
  border-radius: 5px;
  height: 55vh;
  background-color: #c0703e;
  position: absolute;
  top: 0;
  right: 0;
 
}

.signup-form h2 {
  text-align: center;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="date"],
.signup-form input[type="number"]
 {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-form button:hover {
  background-color: #0056b3;
}
