.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(182, 218, 240); */
  /* background-color: rgb(250, 235, 218); */
  background-color: rgb(255, 255, 255);
  min-height: 4rem;
  box-shadow: -4px 14px 69px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 14px 69px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 14px 69px 7px rgba(0, 0, 0, 0.75);
  /* gap: 5rem; */
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar li {
  list-style: none;
  font-weight: bold;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar h1{
    font-weight: 900;
}

.button{
    padding: 0.7rem;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    color: rgb(24, 23, 23);
    background-color: rgb(37, 211, 102);
    transition: all 0.5s ;
}

.button:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.wp{
  transition: all 0.5s;
  position: fixed;
  bottom: 20px; /* Adjust this value to change the distance from the bottom */
  right: 20px; /* Adjust this value to change the distance from the right */
  z-index: 9999; /* Ensure the button is above other content */

}

.wp:hover{
  transform: scale(1.2);
}

.signup{
  display: flex;
  gap: 5rem;
  
}

.signup>button{
  padding: 0.7rem;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    color: rgb(24, 23, 23);
    background-color: rgb(37, 211, 102);
    transition: all 0.5s ;
}