
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


html {
  scroll-behavior: smooth;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
}

:root{
  --background-color1: #2867C4;
  --background-color2: #4576BF;
  --background-color3:#89ACE2;
  --background-color4: #10346A;
  --primary-font: grey;
  --secondary-font: lightgrey;
  --button-color: rgba(37, 211, 102, 1);
}